# Compiled source files #
#########################
*.tex.bak
*.aux
*.blg
*.log
*.synctex.gz
*.bak

# Binaries and media files #
############################
*.pptx
*.mp4

# Mac OS files #
################
**/.DS_Store
